header h1, h2, header h3 {
    margin: 0;
}

body {
    background-color:rgb(255, 241, 168);
}
h2 {
    color:#fedcb2;
    font-family: "Playfair Display", serif;
    font-weight:1000;
    margin: 0;
    background-image: linear-gradient(to right, #f4a123, #f77d12);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.male {
    color:#5f9ea0;
}

.female {
    color:#ee82ee
}

section#seasons> ol {
    color:rgb(225, 103, 103);
    font-weight:1000;
}

img {
    display: block;
    margin: auto;
    border: 5px solid black;
    border-radius: 2.5px;
}

p {
    margin: 0;
    padding: 0px;
}

header img {
    max-width: 100%;
    height: auto;
}

header, footer {
    font-family: 'Times New Roman', Times, serif;
    color: #da8d00;
    padding: 10px;
}

 /* The flex boxes here! \/ */
.columns {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    min-width: 250px;
}

 /* The flex boxes here! /\ */

footer {
    margin-top: auto;
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #da8d00;
    text-decoration: none;
}

nav a:hover {
}
/* tablets */
@media only screen and (max-width:768px) {

    main { 
        padding: 10px; 
    }

    .columns {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    header-img {
        max-width: 100%;
    }
}

/* phones */
@media only screen and (max-width: 480px) {
    header {
        text-align: center;
    }

    nav {
        display: block;
        margin: 10px;
    }

    nav a {
        display: block;
    }
}

/* The Grid Here \/ */

/* The purpose of the grid code below is to make the character descriptions look neat and have surrounding boxes. */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.character-info, .side-characters {
    padding: 20px;
    border: 5px solid #da8d00;
}